.btn-primary {
    background-color: #FF2E63;
    border-color: #FF2E63;
}

.btn-primary:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.card-height {
    height: 35em;
}